{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://adminmanagement.local.azurestack.external/"
        }
    ],
    "info": {
        "description": "Edge gateway operation endpoints and objects.",
        "title": "FabricAdminClient",
        "version": "2016-05-01",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/EdgeGateway.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "azsadmin-EdgeGateway",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/edgeGateways": {
            "get": {
                "description": "Returns the list of all edge gateways at a certain location.",
                "operationId": "EdgeGateways_List",
                "parameters": [
                    {
                        "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Location of the resource.",
                        "in": "path",
                        "name": "location",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client API Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "2016-05-01"
                        }
                    },
                    {
                        "description": "OData filter parameter.",
                        "in": "query",
                        "name": "$filter",
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Pageable list of edge gateways.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "URI to the next page.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "List of edge gateways.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "Base resource object.",
                                                        "properties": {
                                                            "id": {
                                                                "description": "URI of the resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "The region where the resource is located.",
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "Name of the resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "List of key-value pairs.",
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "description": "Type of resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "x-ms-azure-resource": true
                                                    }
                                                ],
                                                "description": "This resource represents a gateway, which provides the configuration needed to provide gateway services to virtual networks.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "Object which holds information related to edge gateways.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "availableCapacity": {
                                                                "description": "The available network capacity.",
                                                                "format": "int64",
                                                                "type": "integer"
                                                            },
                                                            "numberOfConnections": {
                                                                "description": "The current number of connections.",
                                                                "format": "int32",
                                                                "type": "integer"
                                                            },
                                                            "state": {
                                                                "description": "The current state of the edge gateway.",
                                                                "type": "string"
                                                            },
                                                            "totalCapacity": {
                                                                "description": "The total network capacity.",
                                                                "format": "int64",
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NOT FOUND"
                    }
                },
                "tags": [
                    "EdgeGateways"
                ],
                "x-ms-examples": {
                    "Returns the list of all edge gateways at a certain location.": {
                        "parameters": {
                            "api-version": "2016-05-01",
                            "location": "local",
                            "resourceGroupName": "System.local",
                            "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/edgeGateways/AzS-Gwy01",
                                            "location": "local",
                                            "name": "local/AzS-Gwy01",
                                            "properties": {
                                                "availableCapacity": 100000000,
                                                "numberOfConnections": 0,
                                                "state": "Passive",
                                                "totalCapacity": 100000000
                                            },
                                            "tags": {},
                                            "type": "Microsoft.Fabric.Admin/fabricLocations/edgeGateways"
                                        }
                                    ]
                                }
                            },
                            "404": {}
                        }
                    }
                },
                "x-ms-odata": "#/components/schemas/EdgeGateway",
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/edgeGateways/{edgeGateway}": {
            "get": {
                "description": "Returns the requested edge gateway.",
                "operationId": "EdgeGateways_Get",
                "parameters": [
                    {
                        "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Location of the resource.",
                        "in": "path",
                        "name": "location",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Name of the edge gateway.",
                        "in": "path",
                        "name": "edgeGateway",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client API Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "2016-05-01"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "Base resource object.",
                                            "properties": {
                                                "id": {
                                                    "description": "URI of the resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "The region where the resource is located.",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Name of the resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "List of key-value pairs.",
                                                    "type": "object"
                                                },
                                                "type": {
                                                    "description": "Type of resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object",
                                            "x-ms-azure-resource": true
                                        }
                                    ],
                                    "description": "This resource represents a gateway, which provides the configuration needed to provide gateway services to virtual networks.",
                                    "properties": {
                                        "properties": {
                                            "description": "Object which holds information related to edge gateways.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "availableCapacity": {
                                                    "description": "The available network capacity.",
                                                    "format": "int64",
                                                    "type": "integer"
                                                },
                                                "numberOfConnections": {
                                                    "description": "The current number of connections.",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "state": {
                                                    "description": "The current state of the edge gateway.",
                                                    "type": "string"
                                                },
                                                "totalCapacity": {
                                                    "description": "The total network capacity.",
                                                    "format": "int64",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NOT FOUND"
                    }
                },
                "tags": [
                    "EdgeGateways"
                ],
                "x-ms-examples": {
                    "Returns the requested edge gateway.": {
                        "parameters": {
                            "api-version": "2016-05-01",
                            "edgeGateway": "AzS-Gwy01",
                            "location": "local",
                            "resourceGroupName": "System.local",
                            "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/edgeGateways/AzS-Gwy01",
                                    "location": "local",
                                    "name": "local/AzS-Gwy01",
                                    "properties": {
                                        "availableCapacity": 100000000,
                                        "numberOfConnections": 0,
                                        "state": "Active",
                                        "totalCapacity": 100000000
                                    },
                                    "tags": {},
                                    "type": "Microsoft.Fabric.Admin/fabricLocations/edgeGateways"
                                }
                            },
                            "404": {}
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "EdgeGateway": {
                "allOf": [
                    {
                        "description": "Base resource object.",
                        "properties": {
                            "id": {
                                "description": "URI of the resource.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "location": {
                                "description": "The region where the resource is located.",
                                "type": "string"
                            },
                            "name": {
                                "description": "Name of the resource.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "tags": {
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "description": "List of key-value pairs.",
                                "type": "object"
                            },
                            "type": {
                                "description": "Type of resource.",
                                "readOnly": true,
                                "type": "string"
                            }
                        },
                        "type": "object",
                        "x-ms-azure-resource": true
                    }
                ],
                "description": "This resource represents a gateway, which provides the configuration needed to provide gateway services to virtual networks.",
                "properties": {
                    "properties": {
                        "description": "Object which holds information related to edge gateways.",
                        "x-ms-client-flatten": true,
                        "properties": {
                            "availableCapacity": {
                                "description": "The available network capacity.",
                                "format": "int64",
                                "type": "integer"
                            },
                            "numberOfConnections": {
                                "description": "The current number of connections.",
                                "format": "int32",
                                "type": "integer"
                            },
                            "state": {
                                "description": "The current state of the edge gateway.",
                                "type": "string"
                            },
                            "totalCapacity": {
                                "description": "The total network capacity.",
                                "format": "int64",
                                "type": "integer"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "EdgeGatewayList": {
                "description": "Pageable list of edge gateways.",
                "properties": {
                    "nextLink": {
                        "description": "URI to the next page.",
                        "type": "string"
                    },
                    "value": {
                        "description": "List of edge gateways.",
                        "items": {
                            "allOf": [
                                {
                                    "description": "Base resource object.",
                                    "properties": {
                                        "id": {
                                            "description": "URI of the resource.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "location": {
                                            "description": "The region where the resource is located.",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Name of the resource.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "tags": {
                                            "additionalProperties": {
                                                "type": "string"
                                            },
                                            "description": "List of key-value pairs.",
                                            "type": "object"
                                        },
                                        "type": {
                                            "description": "Type of resource.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "x-ms-azure-resource": true
                                }
                            ],
                            "description": "This resource represents a gateway, which provides the configuration needed to provide gateway services to virtual networks.",
                            "properties": {
                                "properties": {
                                    "description": "Object which holds information related to edge gateways.",
                                    "x-ms-client-flatten": true,
                                    "properties": {
                                        "availableCapacity": {
                                            "description": "The available network capacity.",
                                            "format": "int64",
                                            "type": "integer"
                                        },
                                        "numberOfConnections": {
                                            "description": "The current number of connections.",
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "state": {
                                            "description": "The current state of the edge gateway.",
                                            "type": "string"
                                        },
                                        "totalCapacity": {
                                            "description": "The total network capacity.",
                                            "format": "int64",
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "EdgeGatewayModel": {
                "description": "Object which holds information related to edge gateways.",
                "properties": {
                    "availableCapacity": {
                        "description": "The available network capacity.",
                        "format": "int64",
                        "type": "integer"
                    },
                    "numberOfConnections": {
                        "description": "The current number of connections.",
                        "format": "int32",
                        "type": "integer"
                    },
                    "state": {
                        "description": "The current state of the edge gateway.",
                        "type": "string"
                    },
                    "totalCapacity": {
                        "description": "The total network capacity.",
                        "format": "int64",
                        "type": "integer"
                    }
                },
                "type": "object"
            }
        },
        "parameters": {
            "EdgeGatewayParameter": {
                "description": "Name of the edge gateway.",
                "in": "path",
                "name": "edgeGateway",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            }
        },
        "securitySchemes": {
            "azure_auth": {
                "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
                        "scopes": {
                            "user_impersonation": "impersonate your user account"
                        },
                        "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token"
                    }
                }
            }
        }
    }
}